@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
} 

@if (User.IsInRole("admin"))
{
    <a id='link' asp-page="/AdminArea/AdminArea"></a>
    <body onload="document.getElementById('link').click()">
    </body>
}
else
{
    <div class="text-center" >
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <div>
        <img src="https://thecryptotown.com/wp-content/uploads/2021/06/Stratton-Oakmont-Finance.jpg" width="100%"/>
    </div>
}


