@page "{id}"
@model StrattonOakmont.Pages.Security.DetailsModel
@{
    ViewData["Title"] = "Details";
}
<div class="row justify-content-center m-3">
    <div class="col col-lg-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Security.CompanySec.Name</h1>
            </div>
            <div class="card-body text-center">
                <div class="row">
                    
                    <div class="col col-lg-9 text-center">
                        <img class="card-img-top border-primary" style="background-color: #dle7ff;" asp-append-version="true" />
                        <h4 class="card">Стоимость :@Model.Security.Price</h4><hr />
                        <h4 class="card">Процентная ставка: @Model.Security.Percent</h4><hr />
                        <h4 class="card">Категория: @Model.Security.CategorySec.CategoryName</h4><hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card-footer text-center" style="background-color: rgba(0,0,0,0.25);">
                            <a href ="#" class="btn-success">Buy</a>
                            <a asp-page="Security" class="btn-warning">Back</a>
                            <a href ="#" class="btn-primary">Edit</a>
                            <a href ="#" class="btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
