@page
@model StrattonOakmont.Pages.Security.SecurityModel
@{
    ViewData["Title"] = "Security";
}

<div class="container-fluid">
    <a asp-page="/Security/AddCategory" class="btn btn-success mx-auto mx-md-0 text-white" style="margin-bottom: 10px">Add security category</a><br />

    <div class="row">
        <!-- column -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">All securities</h4>
                    <h6 class="card-subtitle"> <code></code></h6>
                    <div class="table-responsive">
                        <table class="table user-table">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Category</th>
                                    <th class="border-top-0">Company</th>
                                    <th class="border-top-0"></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.Securities)
                                {
                                <tr>
                                    <td>@item.CategorySec.CategoryName</td>
                                    <td>@item.CompanySec.Name</td>

                                    <td style="display: flex; justify-content: flex-end">
                                        <a class="btn btn-primary" style="margin:5px" asp-page="/Security/Edit" asp-route-id="@item.Id">Edit</a>  
                                        <form asp-route-id="@item.Id" method="post" style="margin:0">
                                            <button class="btn btn-danger" style="margin:5px" type="submit">Delete</button> 
                                        </form>
                                    </td>
                                </tr>
                                }
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>