@page
@model StrattonOakmont.Pages.AdminArea.AdminAreaModel
@{
}
<a asp-page="/Security/Details" class="btn btn-success m-1">View</a>
<a asp-page="/Security/Details" class="btn btn-success m-1">View</a>
<a asp-page="/Security/Details" class="btn btn-success m-1">View</a>