@page
@model StrattonOakmont.Pages.AdminArea.CompanyModel
@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
   
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">All companies</h4>
                        <h6 class="card-subtitle"> <code></code></h6>
                        <div class="table-responsive">
                            <table class="table user-table">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">Name</th>
                                        <th class="border-top-0"></th>
                                        <th class="border-top-0"></th>
                                        <th class="border-top-0"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.Companies)
                                    {
                                    <tr>
                                        <td>@item.Name</td>

                                        <td>
                                            <a class="btn btn-sm btn-primary" asp-page="ChangeUserRole" asp-route-userid="@item.Id">View</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" asp-page="ChangeUserRole" asp-route-userid="@item.Id">Edit</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" asp-page="ChangeUserRole" asp-route-userid="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                    }

                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
</body>
</html>