@page
@using System.Data
@model StrattonOakmont.Pages.AdminArea.SQLModel
@{
}


    <div class="container-fluid">
        <div class="row mt-3">
            <div class="card">
                <h2 style="text-align:center; margin:10px">SQL</h2><br />
                <div class="card-body">
                    <form class="form-horizontal form-material mx-2" method="post">
                        <div class="form-group">
                                <div class="container-fluid">
                                    <div class="row mt-3">
                                        <!-- Column -->
                                        <div class="col-lg-8 col-xlg-9 col-md-7">
                                            <textarea asp-for="@Model.Query" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                                        </div>
                                        <div class="col-lg-4 col-xlg-3 col-md-5">
                                            <img src="@Model.Smile" />
                                        </div>    
                                     </div>
                                </div>
                              
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 d-flex">
                                <button class="btn btn-success mx-auto mx-md-0 text-white">
                                    DO
                                    SQL
                                </button>
                            </div>
                        </div>
                    </form>

                    <br />
                    <br />
                    <br />
                    <h3 style="text-align:center; margin:10px">Output: </h3><br />
                    <br />
                    <br />
                    <br />

                    <div class="table-responsive">

                        @foreach (DataTable dt in Model.Data.Tables)
                        {
                            <table class="table user-table">
                                <thead>  
                                    <tr>
                                    @foreach (DataColumn column in dt.Columns)
                                    {
                                        <th class="border-top-0">@column.ColumnName</th>
                                    }
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (DataRow row in dt.Rows)
                                    {
                                        <tr>
                                            @foreach (object cell in row.ItemArray)
                                            {
                                                <td>@cell</td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                </div>
            </div>
        </div>
    </div>
</div>